<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-item style="border:0px;background-color:#f8f8f8;">
        <ion-input type="text" [(ngModel)]="searchFor" name="" value="" style="border:0px;background-color:#f8f8f8;" placeholder="Search"></ion-input>
        <ion-icon padding name='search' item-end color="secondary" (click)="getUserPosition()"> </ion-icon>
        <ion-icon name='list' item-end color="secondary" (click)="toggle()"></ion-icon>
      </ion-item>
      <ion-list style="max-height: 300px; overflow-y: scroll;" *ngIf="toggleList">
        <ion-item *ngFor="let i of sortedNearByDealer" (click)="toggle()">
          <ion-avatar item-start>
            <img src="assets/imgs/profile-green.png">
          </ion-avatar>
          <h2>{{i.NickName}}</h2>
          <p>{{i.Languages}}</p>
        </ion-item>
      </ion-list>


      <!-- <input type="text" name="" value=" " style = "z-index= 1"><button ion-button   color="danger" (click)="getUserPosition()" block  large padding style = "z-index:9999">Google Login</button> -->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map" style="width : 100% ;height: 100%; margin:0px;padding:0px;">
  </div>
  <button id="connectBtn" ion-button [hidden]="!connectBtn" color="primary" (click)="connect()" block>Connect</button>
  <button id="signupBtn" ion-button [hidden]="!signupBtn" color="secondary" (click)="pageredirection()" block>Sign Up to Urbanfarm</button>
</ion-content>
